.wrap {
  width: 100vw;
  height: 100vh;
  margin-top: 100px;
  position: relative;
}
.artWrap {
  width: 80%;
  height: 100%;
  margin: 0 auto;
}
.imgBox {
  background-color: #e9e7e7;
  width: 62%;
  height: 70%;
  overflow: hidden;
  display: flex;
}
.img {
  object-fit: contain;
  width: 100%;
}
.left {
  padding-top: 5em;
  width: 62%;
  height: 100%;
}
.banner {
  padding: 2em 2.2em;
  background-color: #4b50f0;
  background-image: url('../../../../public/benefit.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 2em center;
}
.banner > h3 {
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0.8em;
}
.banner > p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-weight: 800;
}
