.footer {
  display: block;
  margin-top: 20px;
  background-color: #222;
  color: #fff;
  font-size: 12px;
  width: 100vw;
  height: 150px;
}
.wrap {
  width: 80%;
  margin: 0 auto;
}
.ul {
  display: flex;
  font-size: 22px;
  color: white;
}
.ul > li {
}
