.header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  min-width: 320px;
  height: 60px;
  background-color: #fff;
  color: #222;
  font-size: 16px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.header.active_sub_menu .header_sub_menu {
  display: block;
}
.header.active_sub_menu .sub_ul {
  display: block;
}
.header_sub_menu {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  left: 0;
  height: 172px;
  border-top: 1px solid #eee;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 4px rgb(0 0 0 / 6%);
}
.header_wrap {
  position: relative;
  display: block;
  margin: 0 auto;
  height: 100%;
  max-width: 1200px;
}
.logo_title {
  float: left;
  width: 98px;
  height: 28px;
  margin: 16px 28px 24px;
}
.logo_box {
  background-color: transparent;
  text-decoration: none;
  counter-reset: inherit;
}
.logo {
  background: url('../../../public/logo_black.svg') no-repeat;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.nav {
  float: left;
  overflow: hidden;
  margin: 0;
  display: flex;
}
.nav > li {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.menu {
  display: block;
  padding: 18px 21px;
  line-height: 24px;
  font-size: 15px;
}
.sub_ul {
  padding-left: 0;
  position: relative;
  top: 0px;
  display: none;
  left: -1px;
  color: #7c7c7d;
  line-height: 1.6;
  font-size: 13px;
}
.sub_ul > li {
  color: #7c7c7d;
}
.sub_ul > li > span {
  padding-left: 23px;
  padding-top: 13px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
}
.sub_ul > li > span:hover {
  color: black;
  font-weight: bold;
}

.header_right {
  float: right;
}
.header_cart,
.header_mycollection,
.header_notice,
.header_showSearch {
  float: left;
  padding: 9px 0;
}
.header_cart_btn,
.header_showSearch_btn,
.header_notice_btn,
.header_mycollection_btn {
  background: url('../../../public/header_icon_sprite.png');
  background-size: 312px 42px;
  display: block;
  position: relative;
  width: 42px;
  height: 42px;
  cursor: pointer;
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.header_cart_btn {
  background-position: -168px 0;
}
.header_mycollection_btn {
  background-position: -210px 0;
}
.header_notice_btn {
  background-position: -42px 0;
}
.header_showSearch_btn {
  background-position: -84px 0;
}
.link {
  text-decoration: none;
  color: inherit;
}
.link:hover {
  color: black;
  font-weight: bold;
}
span {
  background: transparent;
  text-decoration: none;
  color: inherit;
}
.header.active_search .header_showSearch_btn {
  background-position: -127px 0;
}
.searchBody {
  height: 100vh;
  background-color: rgba(34, 34, 34, 0.75);
  left: 0;
  right: 0;
}
