.arrange_container{
    width: 1100px;
    margin: 0 auto;
}
.search_wrapper input{
    width: 500px;
    height: 40px;
}
.search_wrapper button{
    width: 50px;
    height: 30px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 1px 1px 3px;
    font-size: 16px;
}
.search_wrapper button:hover{
    cursor: pointer;
}
.themeType{
    padding: 10px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    display: flex;
    justify-content: center;
}
.themeType h3{
    border: 1px;
    line-height: 60px;
    margin-right: 20px;
}
.themeType label{
    border: 1px solid silver;
    margin: 10px;
    height: 40px;
    line-height: 40px;
}
.themeType input[type="radio"]{
    display: none;
}
.themeType input[type="radio"]:checked + label {
    border: 1px solid black;
}

.artState{
    margin-top: 5px;
    width: 20px;
    height: 20px;
}
.artState + label{
    width: 80px;
    line-height: 30px;
    margin-right: 20px;
}
.arrange{
    height: 30px;
}
.arrange_wrapper{
    display: flex;
    justify-content: right;
    margin-top: 20px;
}