
.cartTable{
    width: 800px;
    border-top: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;
}
.cartTable thead{
    background-color: rgb(240, 240, 240);
    font-weight: bold;
}
.checkAll_btn{
    width: 20px;
}
.cartTable tr{
    border-bottom: 1px solid silver;
    text-align: center;
}
.cartTableFooter{
    width: 30px;
}
td{
    padding: 10px;
}
.total{
    width: 800px;
    background-color: rgb(240, 240, 240);
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid rgb(168, 168, 168);
    padding: 20px;
    color: gray;
}
.total > div{
    position: relative;
}
.totalCount{
    position: relative;
    left: 200px;
}
.totalPrice{
    position: relative;
    left: 207px;
}
.btn{
    position: relative;
    text-align: center;
}
.deleteBtn{
    position: absolute;
    width: 80px;
    height: 30px;
    left: 10px;
    bottom: 8px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    color: rgb(36, 36, 36);
}
.deleteBtn:hover{
    cursor: pointer;
    background: linear-gradient(white 0%, white 20%, #e1e1e1 100%);
    font-weight: 600;
}
.rentalBtn{
    position: absolute;
    width: 80px;
    height: 30px;
    left: 100px;
    bottom: 8px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(15, 15, 15);
    color: white;
}
.rentalBtn:hover{
    cursor: pointer;
    background-color: rgb(20, 83, 155);
    color: white;
}