li {
    list-style-type: none;
}
label {
    display: inline-block;
    width: 100px;
}
.artwork_list{
    display: flex;
}
caption{
    position: relative;
    margin-top: 20px;
    line-height: 40px;
}
caption > h3{
    padding-left: 10px;
    text-align: left;   
}
table{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border-top: 2px solid black;
}
thead{
    background-color: rgb(237, 237, 238);
}
tr{
    border-bottom: 1px solid silver;
}
.artImg{
    width: 80px;
    height: 80px;
}
.art{
    display: flex;
}
.smallfont{
    font-size: 12px;
    color: darkgray;
}
.boldFont{
    font-weight: bold;
    font-size: 14px;
}
.etc_btn{
    display: inline-grid;
    
}
#rentalPaging{
    display: flex;
    justify-content: center;
}
#rentalPaging div{
    padding-right: 5px;
}
#returnPaging{
    display: flex;
    justify-content: center;
}
#returnPaging div{
    padding-right: 5px;
}
.disable_link {
    color: lightgray;
}
.r_enable_link {
    cursor: pointer;
}
.t_enable_link {
    cursor: pointer;
}
.now_page {
    color: red;
}